*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  /* background-image: url("/public/pics/back-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
  position: absolute;
}

/* Navbar */
.navbar{
  position: sticky !important;
  z-index: 1;
  width: 100%;
  font-size: larger;
}

#nav-title{
  margin: 0vw 2vw;
  font-size: xx-large;
}

/* Home crouser style */
.img-size img {
  height: 80vh;
  background-size: cover;
  opacity: 0.5;
}

.parant-form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

/* Login from style */

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.login {
  padding: 5%;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 10%;
  text-align: center;
  box-shadow: 3px 5px 10px rgba(76, 175, 80, 0.7);
  background-color: #28a745;
}

.login h1 {
  font-family: fantasy;
  font-size: xx-large;
  color: #f8f9fa;
}

.login input {
  border: none;
  border-bottom: 2px solid #f8f9fa;
  font-size: 20px;
  width: 100%;
  background-color: #28a745;
}

.login input:hover {
  border-bottom: 2px solid #343a40;
}

.input {
  margin-top: 15%;
}

#username {
  margin-bottom: 10%;
}

#username::placeholder {
  color: #f8f9fa;
}

#pass::placeholder {
  color: #f8f9fa;
}

#username:hover::placeholder {
  color: #343a40;
  opacity: 0.7;
  font-size: 16px;
}

#pass:hover::placeholder {
  color: #343a40;
  opacity: 0.7;
  font-size: 16px;
}

#username:focus {
  outline: none;
  color: #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}

#pass:focus {
  outline: none;
  color: #f8f9fa;
  border-bottom: 2px solid #f8f9fa;
}

#username:not(:focus) {
  color: #f8f9fa;
}

#pass:not(:focus) {
  color: #f8f9fa;
}

.login-btn {
  margin-top: 10%;
  margin-bottom: 5%;
}

.login p {
  color: rgb(207, 207, 207);
  font-weight: bold;
}

.p-btn .btn {
  width: 100%;
  border: none;
  background-color: #f8f9fa;
  color: #343a40;
  font-weight: bold;
}

.p-btn .btn:hover {
  color: #f8f9fa;
  background-color: #343a40;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.3);
}


.p-btn .btn:active {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  opacity: 0.8;
}

.blog-btn {
  text-decoration: none;
}

/* Create blog */

.create {
  width: 100%;
  height: 100%;
  padding: 1%;

}

.create img {
  max-height: 65vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.sec-child{
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.title {
  font-size: xx-large;
  width: 70vw;
  border: none;
}

.title:focus{
  outline: none;
}

.publish-btn{
  border: none;
  width: 7vw;
  font-size: larger;
  border-radius: 5px;
}

.publish-btn:hover{
  background-color: #f8f9fa !important;
  color: #28a745 !important;
}


.publish-btn:active {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
  opacity: 0.8;
}

/* Home btn card catagories manage */
.home-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding: 0 !important;
  margin: 0 1vw;
}

.right{
  display: flex;
  flex-wrap: wrap;
}

/* Story input */
.story{
  margin-top: 4vh;
  width: 100%;
  overflow: auto;
  line-height: 2;
  border: none;

}

.story:focus{
  outline: none;
}

/* Catagories */
.catagories{
  width: 100%;
  height: auto;
}

.catagories ul li{
  list-style: none;
  border: 0.5px solid gray;
  padding: 1vh;
  font-size: larger;
  border-radius: 5px;
}

.catagories ul{
  padding: 0;
  margin: 0;
}

.catagories ul li:hover{
  background-color: rgb(25, 135, 84);
}

.link{
  color: #f8f9fa;
  text-decoration: none;
}

/* Card link for click on whole card */
.card-link{
  text-decoration: none;
}


/* Crad */
.card-parant{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: auto;
  width: 250px;
  display: flex;
  margin: 5px;
}
.card:hover {
  box-shadow: 0 4px 8px rgb(25, 135, 84);
}

.card-body{
  text-align: center;
}
.card-body p{
  padding: 0 ;
  margin: 0 ;
}
